{% extends "base.html.twig" %}

{% block title %}ContactBundle:Person:showAll{% endblock %}

{% block container %}
    <a href="{{ path('contact_group_newget') }}" class="btn btn-success btn-outline">Add New Group</a>
    <br>
    {% if groups %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Groups</th>
        </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr data-id="{{ group.id }}">
                <td>
                    <a href="{{ path('contact_group_showsingle', {'id':  group.id }) }}"
                       class="list-group-item">{{ group.name }} ({{ group.persons|length }})</a>
                </td>
                <td>
                    <a href="{{ path('contact_group_delete', {'id': group.id }) }}" title="Delete group">
                        <i class="material-icons">delete</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endif %}


{% endblock %}
