{% extends "base.html.twig" %}

{% block title %}Edit person{% endblock %}

{% block container %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Edit person information:</h5>
            {{ form_start(formPerson) }}
            <div class="form-group">
                {{ form_label(formPerson.firstName) }}
                {{ form_widget(formPerson.firstName) }}
            </div>
            <div class="form-group">
                {{ form_label(formPerson.lastName) }}
                {{ form_widget(formPerson.lastName) }}
            </div>
            <div class="form-group">
                {{ form_label(formPerson.description) }}
                {{ form_widget(formPerson.description) }}
            </div>
            {{ form_widget(formPerson) }}
            {{ form_end(formPerson) }}

            {#addresses#}
            <div class="row">
                <div class="col-1">
                    <i class="material-icons">location_on</i>
                </div>
                <div class="col">
                    {% for address in person.addresses %}
                        <p class="card-text">
                            {{ address.street }} {{ address.house }}{% if address.flat %}/{{ address.flat }}{% endif %}, {{ address.city }}{% if address.type %} - {{ address.type }}{% endif %}
                            <i class="material-icons modify delete-address" data-id="{{ address.id }}" title="delete address">remove_circle</i>
                        </p>
                    {% else %}
                        <p><i>no addresses...</i></p>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <i class="material-icons modify" id="new-address" title="add new address">add_circle</i>
                </div>
            </div>

            {{ form_start(formAddress) }}
            <div class="form-group">
                {{ form_label(formAddress.city) }}
                {{ form_widget(formAddress.city) }}
            </div>
            <div class="form-group">
                {{ form_label(formAddress.street) }}
                {{ form_widget(formAddress.street) }}
            </div>
            <div class="form-group">
                {{ form_label(formAddress.house) }}
                {{ form_widget(formAddress.house) }}
            </div>
            <div class="form-group">
                {{ form_label(formAddress.flat) }}
                {{ form_widget(formAddress.flat) }}
            </div>
            <div class="form-group">
                {{ form_label(formAddress.type) }}
                {{ form_widget(formAddress.type) }}
            </div>
            {{ form_widget(formAddress) }}
            {{ form_end(formAddress) }}
            <br>

            {#emails#}
            <div class="row">
                <div class="col-1">
                    <i class="material-icons">email</i>
                </div>
                <div class="col">
                    {% for email in person.emails %}
                        <p class="card-text">
                            {{ email.address }}{% if email.type %} - {{ email.type }}{% endif %}
                            <i class="material-icons modify delete-email" data-id="{{ email.id }}" title="delete email">remove_circle</i>
                        </p>
                    {% else %}
                        <p><i>no emails...</i></p>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <i class="material-icons modify" id="new-email" title="add new email">add_circle</i>
                </div>
            </div>

            {{ form_start(formEmail) }}
            <div class="form-group">
                {{ form_label(formEmail.address) }}
                {{ form_widget(formEmail.address) }}
            </div>
            <div class="form-group">
                {{ form_label(formEmail.type) }}
                {{ form_widget(formEmail.type) }}
            </div>
            {{ form_widget(formEmail) }}
            {{ form_end(formEmail) }}
            <br>

            {#phone numbers#}
            <div class="row">
                <div class="col-1">
                    <i class="material-icons">phone</i>
                </div>
                <div class="col">
                    {% for phone in person.phoneNumbers %}
                        <p class="card-text">
                            {{ phone.number }}{% if phone.type %} - {{ phone.type }}{% endif %}
                            <i class="material-icons modify delete-number" data-id="{{ phone.id }}" title="delete number">remove_circle</i>
                        </p>
                    {% else %}
                        <p><i>no phone numbers...</i></p>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <i class="material-icons modify" id="new-number" title="add new number">add_circle</i>
                </div>
            </div>

            {{ form_start(formPhone) }}
            <div class="form-group">
                {{ form_label(formPhone.number) }}
                {{ form_widget(formPhone.number) }}
            </div>
            <div class="form-group">
                {{ form_label(formPhone.type) }}
                {{ form_widget(formPhone.type) }}
            </div>
            {{ form_widget(formPhone) }}
            {{ form_end(formPhone) }}
            <br>

            {#groups#}
            <div class="row">
                <div class="col-1">
                    <i class="material-icons" title="groups">group</i>
                </div>
                <div class="col">
                    {% for group in person.groups %}
                        <a href="{{ path('contact_group_showsingle', {'id': group.id }) }}">
                            {{ group.name }}
                        </a>
                    {% else %}
                        <p><i>-</i></p>
                    {% endfor %}
                </div>
                <div class="col-2">
                    <i class="material-icons modify" id="group-add" title="add to group">group_add</i>
                </div>
            </div>

            <form action="{{ path('contact_person_addgroup') }}" method="post" id="formGroup">
                <div class="form-group">
                    <label for="exampleSelect1" class="bmd-label-floating">select group</label>
                    <select class="form-control" name="group_id">
                        <option></option>
                        {% for group in groups %}
                            <option value="{{ group.id }}">{{ group.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" name="person_id" value="{{ person.id }}">
                </div>
                <button type="submit" class="btn btn-primary btn-raised">Add to group</button>
            </form>

        </div>
    </div>

{% endblock %}
